h1 {
    color: teal;
    text-align: center;
    font-size: 200px;
    margin: 0;
    padding: 20px 0;
    text-shadow: 10px 3px 3px black;
}
h2, h3, h4 {
    color: teal;
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 3px 3px black;
}

a {
    text-decoration: none;
    font-size: 50px;
}
body {
    background-color: rgb(255, 255, 255);
    backg
}
li {
    list-style: none;
}
ul {
    text-align: center;
    border: 4px solid black;
}
img {
    width: 300px;
    height: 300px;
    margin-left: 40%;
}
table {
    border: solid 5px black;
}
.imageindex {
    margin-left: 40px;
}
.index {
    text-align: left;
    font-size: xxx-large;
    border: 5px solid black;
    background-color: rgba(255, 234, 175, 0.5);
}
.contact{
    font-size: 40px;
}
#info {
    font-weight: bold;
}

nav > ul {
    text-align: left;
    border: none;
    text-align: center;
}
